.contents {
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa;
  padding: .7rem;
  display: table;
  line-height: 1.6;
  width: auto;
  height: auto;
  margin-top: 1rem;


  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .2rem;

    & h3 {
      font-size: 94%;
    }

    & .expander {
      margin-left: .4rem;
      font-size: 94%;
      cursor: pointer;
      color: #0645ad;
    }
  }

  &__number {
    color: #202122;
    padding-left: 0;
    padding-right: 0.5em;
  }

  ul {
    padding-left: 0px;
    font-size: 94%;
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: #0645ad;
  }

  .sub-entry {
    margin: 0 0 0 2em;
  }


}