.gradient {
  display: inline-block;
  position: absolute;
  padding: 0rem;
  top: 0;
  width: 100%;
  height: 8rem;
  background-color: #fbfbfb;
  background-image: -webkit-linear-gradient(top, #ffffff 50%, $color-background 100%);
}
