.picture {
  display: block;
  width: 47rem;
  padding: 0.3rem;
  background-color: $color-background;
  border: 1px solid $color-border-grey;
  float: right;
  margin: .8rem;

  @media (max-width: 500px) {
    display: none;
  }


  &__container {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  &__image {
    height: 40rem;
    width: auto;
    max-width: 46rem;
    display: flex;
    justify-content: center;
  }

  &__navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    bottom: 5rem;
    left: 1rem;
    width: 95%;
    
    & button {
      padding: 0px 1rem;
      border: 1px solid transparent;
      border-radius: 2px;
      height: 2rem;
      opacity: .7;
      transition: opacity 0.3s ease-in;
      &:hover {
        opacity: 1;
      }
    }
  }

  &__caption {
    display: block;
    font-size: 94%;
    text-align: left;
    line-height: 1.4rem;
    margin: 0.3rem;
    font-family: sans-serif;
  }
}
