.search {

  &__container {
    padding: .4em .8rem 0rem .8rem;
    position: relative;
    margin-right: 1.5rem;
  }
  
  position: absolute;

  & > input {
    border: 1px solid #a2a9b1;
    color: grey;
    padding: 0.4em 2em .4em .4em;
  }

  & > img {
    top: .8rem;
    right: .5rem;
    position: absolute;
    height: 1.2rem
  }
}