*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem;
  background-color: #f6f6f6; }

@font-face {
  font-family: "Shawnipedia";
  src: local("LinLibertine"), url(fonts/LinLibertine_R.otf) format("opentype");
  font-weight: normal;
  font-style: normal; }

.header {
  position: absolute;
  width: 100%;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  float: left;
  margin-top: 2rem; }
  .header__tab {
    float: left;
    height: 4.2rem;
    list-style: none;
    font-size: 1.3rem;
    color: #0645ad;
    z-index: 2; }
    .header__tab--unselected {
      height: 100%;
      padding: 1.25em 0.8rem 0px 0.8rem;
      background-image: linear-gradient(to top, #77c1f6 0, #e8f2f8 1px, #ffffff 100%);
      background-size: 1px 100%; }
    .header__tab--selected {
      color: black;
      height: 100%;
      width: 100%;
      padding: 1.25em 0.8rem 0px 0.8rem;
      background: #ffffff;
      background-image: linear-gradient(to bottom, rgba(167, 215, 249, 0) 0, #a7d7f9 100%);
      background-repeat: no-repeat;
      background-size: 1px 100%; }

.side-bar {
  float: left;
  top: 0;
  width: 15em;
  left: 0;
  background-color: #f6f6f6;
  height: 100%;
  font-family: "Shawnipedia";
  cursor: help; }
  .side-bar__menu {
    margin-bottom: 2rem;
    text-align: center; }
    .side-bar__menu--gradient {
      position: absolute;
      top: 0;
      width: 100%;
      left: -4rem;
      height: 5em;
      background-color: #fbfbfb;
      background-image: -webkit-linear-gradient(top, #ffffff 50%, #f6f6f6 100%); }
    .side-bar__menu--logo {
      position: relative;
      max-height: 10rem;
      z-index: 300; }
    .side-bar__menu--header-mini {
      font-size: 1.2rem;
      transform: scaleY(1.2); }
      .side-bar__menu--header-mini span:nth-child(1) {
        font-size: 2rem; }
      .side-bar__menu--header-mini span:nth-child(3) {
        font-size: 2rem; }
    .side-bar__menu--sub-header-mini {
      font-size: 1.2rem;
      letter-spacing: 0.6px; }
  .side-bar__content {
    font-size: 1.2rem;
    line-height: 1.125em;
    font-family: sans-serif; }
  .side-bar__label {
    font-size: 1.2rem;
    color: #54595d;
    font-weight: normal;
    background-image: linear-gradient(to right, rgba(200, 204, 209, 0) 0, #c8ccd1 33%, #c8ccd1 66%, rgba(200, 204, 209, 0) 100%);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 1px;
    padding-inline-start: 2rem;
    margin-top: 1.5rem; }
  .side-bar ul {
    padding-inline-start: 20px;
    margin: 8px 0px; }
  .side-bar li {
    list-style-type: none;
    color: #0645ad;
    padding: .25em 0; }

.contents {
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa;
  padding: .7rem;
  display: table;
  line-height: 1.6;
  width: auto;
  height: auto; }
  .contents__header {
    margin-top: -1.4rem;
    margin-bottom: -1.4rem;
    display: flex;
    justify-content: center; }
  .contents__number {
    color: #202122;
    padding-left: 0;
    padding-right: 0.5em; }
  .contents .expander {
    margin: 1.4rem 0rem 0rem .4rem;
    font-size: 94%;
    cursor: pointer;
    color: #0645ad; }
  .contents ul {
    padding-left: 0px;
    font-size: 94%; }
  .contents a {
    text-decoration: none;
    color: #0645ad; }
  .contents .sub-entry {
    margin: 0 0 0 2em; }

.logo {
  max-height: 22rem;
  max-width: auto; }

.search {
  position: relative; }
  .search__container {
    padding: .4em .8rem 0rem .8rem; }
  .search > input {
    border: 1px solid #a2a9b1;
    color: grey;
    padding: 0.4em 2em; }
  .search > img {
    top: .8rem;
    right: .5rem;
    position: absolute;
    height: 1.2rem; }

.home {
  font-family: 'Shawnipedia';
  text-align: center; }
  .home__header {
    text-align: center;
    margin-top: 2rem;
    font-size: xx-large; }
    .home__header span:nth-child(1) {
      font-size: 1.5em; }
    .home__header span:nth-child(3) {
      font-size: 1.5em; }
    .home__header--sub {
      font-family: Georgia;
      font-size: 1.6rem;
      text-align: center;
      margin-bottom: 5rem; }
  .home__logo-container .logo {
    margin-top: 6.5rem; }
  .home__center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 40rem;
    width: 80rem; }
  .home__link {
    position: absolute;
    font-size: 1.6rem; }
    .home__link--1 {
      top: 0;
      right: 60%; }
    .home__link--2 {
      top: 0;
      left: 60%; }
    .home__link--3 {
      top: 20%;
      right: 70%; }
    .home__link--4 {
      top: 20%;
      left: 70%; }
    .home__link--5 {
      top: 40%;
      right: 72%; }
    .home__link--6 {
      top: 40%;
      left: 72%; }
    .home__link--7 {
      top: 60%;
      right: 70%; }
    .home__link--8 {
      top: 60%;
      left: 70%; }
    .home__link--9 {
      top: 80%;
      right: 60%; }
    .home__link--10 {
      top: 80%;
      left: 60%; }

.resume {
  font-family: sans-serif;
  font-size: 1.2rem;
  position: absolute;
  float: right;
  top: 0;
  width: calc(100% - 19rem);
  left: 19rem;
  height: 100vh; }
  .resume li {
    list-style: none; }
  .resume__content--gradient {
    position: absolute;
    top: 0;
    width: 100%;
    height: 5em;
    background-color: #fbfbfb;
    background-image: -webkit-linear-gradient(top, #ffffff 50%, #f6f6f6 100%); }
  .resume__content--header-container {
    display: flex;
    top: 0;
    width: calc(100% - 10em);
    left: 10em;
    height: 5em; }
  .resume__content-container {
    position: absolute;
    top: 5em;
    width: auto;
    border: 1px solid #a7d7f9;
    border-right-width: 0;
    line-height: 1.6; }
    .resume__content-container--body {
      padding: 1.25em 1.5em 1.5em 1.5em;
      background-color: white;
      font-size: 1.4rem; }
