*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem;
  background-color: #f6f6f6; }

@font-face {
  font-family: "Shawnipedia";
  src: local("LinLibertine"), url(fonts/LinLibertine_R.otf) format("opentype");
  font-weight: normal;
  font-style: normal; }

.side-bar {
  float: left;
  top: 0;
  width: 15em;
  left: 0;
  background-color: #f6f6f6;
  height: 100%;
  font-family: "Shawnipedia";
  cursor: help; }
  .side-bar__menu {
    margin-bottom: 2rem;
    text-align: center; }
    .side-bar__menu--gradient {
      position: absolute;
      top: 0;
      width: 15em;
      left: 0;
      height: 5em;
      background-color: #fbfbfb;
      background-image: -webkit-linear-gradient(top, #ffffff 50%, #f6f6f6 100%); }
    .side-bar__menu--logo {
      position: relative;
      max-height: 10rem;
      z-index: 300; }
    .side-bar__menu--header-mini {
      font-size: 1.2rem;
      transform: scaleY(1.2); }
      .side-bar__menu--header-mini span:nth-child(1) {
        font-size: 2rem; }
      .side-bar__menu--header-mini span:nth-child(3) {
        font-size: 2rem; }
    .side-bar__menu--sub-header-mini {
      font-size: 1.2rem;
      letter-spacing: 0.6px; }
  .side-bar__content {
    font-size: 1.2rem;
    line-height: 1.125em;
    font-family: sans-serif; }
  .side-bar__label {
    font-size: 1.2rem;
    color: #54595d;
    font-weight: normal;
    background-image: linear-gradient(to right, rgba(200, 204, 209, 0) 0, #c8ccd1 33%, #c8ccd1 66%, rgba(200, 204, 209, 0) 100%);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 1px;
    padding-inline-start: 2rem;
    margin-top: 1.5rem; }
  .side-bar ul {
    padding-inline-start: 20px;
    margin: 8px 0px; }
  .side-bar li {
    list-style-type: none;
    color: #0645ad;
    padding: .25em 0; }

.logo {
  max-height: 22rem;
  max-width: auto; }

.home {
  font-family: 'Shawnipedia';
  text-align: center; }
  .home__header {
    text-align: center;
    margin-top: 2rem;
    font-size: xx-large; }
    .home__header span:nth-child(1) {
      font-size: 1.5em; }
    .home__header span:nth-child(3) {
      font-size: 1.5em; }
    .home__header--sub {
      font-family: Georgia;
      font-size: 1.6rem;
      text-align: center;
      margin-bottom: 5rem; }
  .home__logo-container .logo {
    margin-top: 6.5rem; }
  .home__center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 40rem;
    width: 80rem; }
  .home__link {
    position: absolute;
    font-size: 1.6rem; }
    .home__link--1 {
      top: 0;
      right: 60%; }
    .home__link--2 {
      top: 0;
      left: 60%; }
    .home__link--3 {
      top: 20%;
      right: 70%; }
    .home__link--4 {
      top: 20%;
      left: 70%; }
    .home__link--5 {
      top: 40%;
      right: 72%; }
    .home__link--6 {
      top: 40%;
      left: 72%; }
    .home__link--7 {
      top: 60%;
      right: 70%; }
    .home__link--8 {
      top: 60%;
      left: 70%; }
    .home__link--9 {
      top: 80%;
      right: 60%; }
    .home__link--10 {
      top: 80%;
      left: 60%; }
