*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem;
  background-color: #f6f6f6; }

@font-face {
  font-family: 'Shawnipedia';
  src: local("LinLibertine"), url("../../assets/fonts/LinLibertine_aDRS.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.logo {
  max-height: 20rem;
  max-width: auto; }
