.header {

  &__tabs--left {
    position: absolute;
    width: 100%;
    bottom: 1.5rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    float: left;
    margin-top: 2rem;
  }

  &__tab {
    float: left;
    height: 2.2rem;
    list-style: none;
    font-size: 1.3rem;
    color: #0645ad;

    &--unselected {
      height: 100%;
      padding: 1.25em .8rem 0px .8rem;
      background-image: linear-gradient(to top,#77c1f6 0,#e8f2f8 1px,#ffffff 100%);
      background-size: 1px 100%;
    }

    &--selected {
      color: black;
      height: 100%;
      width: 100%;
      padding: 1.25em .8rem 0px .8rem;
      background: #ffffff;
      background-image: linear-gradient(to bottom,rgba(167,215,249,0) 0,#a7d7f9 100%);
      background-repeat: no-repeat;
      background-size: 1px 100%;
    }
  }

}
