.home {
  font-family: "Shawnipedia";
  text-align: center;

  @media (max-width: 500px) {
    margin-top: 5rem;
  }

  &__top {
    @media (max-width: 500px) {
      position: relative;
      left: 4rem;
      top: 0rem;
    } 
  }

  &__header {
    text-align: center;
    margin-top: 2rem;
    font-size: xx-large;

    @media (max-width: 500px) {
      font-size: 2.4rem;
    }

    span:nth-child(1) {
      font-size: 1.5em;
    }

    span:nth-child(3) {
      font-size: 1.5em;
    }

    &--sub {
      font-family: Georgia;
      font-size: 1.6rem;
      text-align: center;
      margin-bottom: 5rem;
      @media (max-width: 500px) {
        font-size: 1.5rem;
      }
    }
  }

  &__logo-container .logo {
    margin-top: 6.5rem;
    @media (max-width: 500px) {
      margin-top: 0;
      position: absolute;
      left: 10%;
      top: 1.5%;
    }
  }

  &__center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 40rem;
    width: 80rem;
    @media (max-width: 500px) {
      top: -100px;
      width: 100vw;
    }

    &--links {
      @media (max-width: 500px) {
        position: relative;
        top: 18rem;

      }
    }
  }

  &__link {
    position: absolute;
    font-size: 1.6rem;
    color: $color-link;

    @media (max-width: 500px) {
      position: initial;
      margin-bottom: 1rem;
    }
    
    > a {
      &:link,
      &:visited,
      &:active {
        color: $color-link;
        text-decoration: none;
        font-family: sans-serif;
        font-weight: bold;
      }
    }

    &--1 {
      top: 0;
      right: 60%;
    }

    &--2 {
      top: 0;
      left: 60%;
    }

    &--3 {
      top: 20%;
      right: 70%;
    }

    &--4 {
      top: 20%;
      left: 70%;
    }

    &--5 {
      top: 40%;
      right: 72%;
    }

    &--6 {
      top: 40%;
      left: 72%;
    }

    &--7 {
      top: 60%;
      right: 70%;
    }

    &--8 {
      top: 60%;
      left: 70%;
    }

    &--9 {
      top: 80%;
      right: 60%;
    }

    &--10 {
      top: 80%;
      left: 60%;
    }
  }
}
