.resume {
  font-family: sans-serif;
  font-size: 1.2rem;
  position: absolute;
  float: right;
  top: 0;
  width: calc(100% - 10em);
  left: 20em;
  height: 5em;

  li {
    list-style: none;
  }

  &__content {
    &--gradient {
      position: absolute;
      top: 0;
      width: 100%;
      left: 15em;
      height: 5em;
      background-color: #fbfbfb;
      background-image: -webkit-linear-gradient(top,#ffffff 50%,#f6f6f6 100%);
    }

    &--header-container {
      display: flex;
      // position: absolute;
      top: 0;
      width: calc(100% - 10em);
      left: 10em;
      height: 5em;
    }
  }
}